In [21]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline

In [22]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.preprocessing import LabelEncoder

In [23]:
data=pd.read_csv('hp_data.csv')

In [24]:
data.head()

,Unnamed: 0,price,place,built,sqft,sale,yearsOld,floor,totalFloor,bhk
0,1341,6300000.0,BTM Layout,Super built-up Area,1450,Resale,5,1,4,1
1,2126,11500000.0,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3
2,816,3800000.0,Whitefield,Super built-up Area,1019,Resale,1,2,5,2
3,2708,10500000.0,Ambalipura,Super built-up Area,1857,Resale,15,4,5,4
4,1041,11500000.0,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3

In [25]:
data=data.iloc[:,1:-1]

In [26]:
data.head()

,price,place,built,sqft,sale,yearsOld,floor,totalFloor
0,6300000.0,BTM Layout,Super built-up Area,1450,Resale,5,1,4
1,11500000.0,Yelahanka,Super built-up Area,2190,Resale,5,3,5
2,3800000.0,Whitefield,Super built-up Area,1019,Resale,1,2,5
3,10500000.0,Ambalipura,Super built-up Area,1857,Resale,15,4,5
4,11500000.0,Yelahanka,Super built-up Area,2190,Resale,5,3,5

In [27]:
enc=LabelEncoder()
data.iloc[:,1]=enc.fit_transform(data.iloc[:,1])
data.iloc[:,2]=enc.fit_transform(data.iloc[:,2])

In [28]:
data.head()

        price  place  built  sqft    sale  yearsOld  floor  totalFloor
0   6300000.0      2      1  1450  Resale         5      1           4
1  11500000.0     14      1  2190  Resale         5      3           5
2   3800000.0     12      1  1019  Resale         1      2           5
3  10500000.0      1      1  1857  Resale        15      4           5
4  11500000.0     14      1  2190  Resale         5      3           5

In [30]:
x=data.iloc[:,[1,2,3,5,6,7]]
y=data.price

In [34]:
x_train,x_test,y_train,y_test=train_test_split(x,y)

In [35]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [36]:
y_pred=model.predict(x_test)

In [37]:
r2_score(y_test,y_pred)

0.8711373950276801

In [38]:
from sklearn.externals import joblib
joblib.dump(model,'hp_model-dump')

['hp_model-dump']